<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/logo.css' />
</head>
<div id="grad1"><img src="/images/BrewVineLogo.png" class="bvlogo" id="bvlogo-l" alt="BrewVineLogo">
  <img src="/images/BrewVineLogo.png" class="bvlogo"  id="bvlogo-r" alt="BrewVineLogo"></div>