<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewVine</title>
</head>
<%- include('../partials/_navbar') %>
<body>
    <form action="/drinks" method="GET">
    <label for="Type Selector">Type:</label>
    <select name="type" >
        <option value="Beer">Beer</option>
        <option value="Wine">Wine</option>
        <option value="Spirits">Spirits</option>
        <option value="Other">Other</option>
    </select>
    <input type="submit" id="type-filter">   
    </form>
    <!-- <%- include('../partials/bvlogo') %>  I tried to do a semi opaque background that covered the whole background while not affecting any placement or anythign else. It's not working yet, but would be a nice touch if it did.-->
    <h1>Welcome to BrewVine</h1>
    <% drinks.forEach((drink)=>{ %>
        <section class="drink-details">
            <h3><a href="/drinks/<%=drink._id%>"><%=drink.name%></a></h3>
        </section>
    <% }) %>
</body>
</html>