<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewVine</title>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/stylesheets/splash.css">
</head>
<body>
    <div id="bg">  
    </div>
    <div class="head">
        <h1>Welcome to BrewVine!!</h1><img src="/images/BrewVineLogo.png" id="bv-logo">

    </div>
    <div id="box-21">
        <form action="/drinks" method="GET">
        <h2>Are you at least 21 years old?</h2>
        <input type="submit" value="Yes I am!" class="button"></form><br>
    </div>
</body>
</html>