* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin-top: 10vh;
  margin-bottom: 10vh
}

header {
  text-align: center;
  margin: 35px;

}
.login, .logout {
  display: flex;
  justify-content: right;
  align-items: center;
}

.home  {
  display: flex;
  justify-content: left;
  align-items: center;
}
  
.login img, .logout img, .home img {
  margin-left: 20px;
  margin-right: 20px;
  height: 36px;
}

.user-avatar{
  max-height: 55px;
  max-width: 55px;
  position: absolute;
  border-radius: 50%;
  right: 175px;
}


a {
  text-decoration: none;
  color:#ADEAED;
  text-shadow: .5px .5px 1px black;
}

button {
  box-shadow: 1px 1px 4px ghostwhite;
}

nav {
  height: 65px;
  background-color: #a98409;
  background-image: linear-gradient(#a98409, white);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: 4px 4px 8px silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, textarea {
  min-width: relative;
}

.container {
  max-width: 37.5em;
  margin: auto;
  margin-top: 2em;
    text-align: center;
    text-overflow: wrap;
    word-wrap: break-word;
    white-space: initial;
    
    
}

.new-product {
  background-color: #F5B8D9;
  margin-top: 1em;
  text-align: center;
  margin-right: 2em;
}

h2  {
  margin-top: 3em;
  text-align: center;
  font-size: 2.5em;
  color: #FFC300;
  text-shadow: .5px .5px  grey;
}

.card {
  flex-basis: 20%;
  text-align: center;
  padding: .3em;
  margin: .5em;
  box-shadow: 1px 1px 2px silver, -1px 1px 2px silver;
  border-radius: 10px;
  background-color: #FFF5EC;
  height: 237px;
  overflow: scroll;
}

.card h5 {
  padding-top: 1em;
  font-size: 1em;
}

img {
  max-width: 90%;
  max-height: 10vmax;
}

.card img:hover {
  box-shadow: 0 0 8px #96DADD;
}


p {
  max-width:70%;
  margin: auto;
}  

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    text-align: center;
    text-overflow: wrap;
    word-wrap: break-word;
    white-space: initial;
    
    
  }
  .products section h3{
    text-align: center;
    text-overflow: wrap;
    word-wrap: break-word;
    white-space: initial;
    max-width: 80%;
    align-items: center;
    margin: auto;
    
  }
  .products section h4{
    bottom: 10%;
    align-items:end;
    
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-user img {
  border-radius: 50%;
  height: 40px;
}
#bg-pics-l {
  /* The image used */
  background-image: url("/images/Wine-left1-tall.jpg");
  position: fixed;
  left:0%;
  top:0%;
  /* Full height */
  height: 130%;
  width: 20vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#bg-pics-r {
  /* The image used */
  background-image: url("/images/Beer-Right2-Tall.jpg");
  position: fixed;
  right:0%;
  top:0%;
  /* Full height */
  height: 130%;
  width: 25vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
header p{
  width: 50%
}



@media only screen and (max-width: 820px) {
    .card {
        flex-basis: 28%;
    }
    .container{
      width: 95%;
    }
}



@media only screen and (max-width: 530px) {
  .container{
    margin-top: 6em;
    width: 95%;
  }
  .card {
      flex-basis: 43%;
  }
}
